@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    /*background-color: black;
    color: white;*/
}

.left{
    width: 25vw;
    padding: 10px;
}

.button{
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.library{
    min-height: 78vh;
    position: relative;;
}

.heading{
    display: flex;
    gap: 15px;
    width: 86%;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading img{
    width: 15px;
}


.footer{
    display: flex;
    font-size: 11px;
    gap: 5px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: grey;
}

.right{
    margin: 16px 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 34, 34);
}

.header > *{
    padding: 20px;
}

.spotifyplaylist{
    padding: 16px;
}

.cardcontainer{
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    width: 163px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 135px;
    right: 17px;
    opacity: 1;
    transition: all 1s ease-out;
}

.card .img{
    width: 100%;
    object-fit: contain;
}

.create ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}




